<div id="header">
  <div id="toolbar">
  	<div id="topleftlinks"> 
        <ul class="left_links">
          <li><%= link_to "Empresa",    empresa_path %></li>
          <li><%= link_to "Conozca Tramontina", '#' %></li>
          <li><%= link_to "Medio Ambiente", '#' %></li>
          <li><%= link_to "Contacto", '#' %></li>
        </ul>
    	<div style="position: absolute; left: 500px;">
		<span style="font-size:smaller ;">Distribuidor:</span>
		<%= image_tag("logo-tramontina-99x20.gif", :alt => "logotramontina") %>
		</div>
    </div>
    <div id="cartitems">
    	( <strong>0</strong> items )
    </div>
    <div id="cart">
    <%= link_to "Cart", :id => "cart" '#'  %>
    </div>
    <div id="logbtns">
    	
    </div>		
  </div>
  <!--nav content -->
  <ul class="nav-bar">
  	<li class="active"><%= link_to "Home",    root_path %>
  	<li class="has-flyout"><a href="#">Productos</a></li>
  	<li class="has-flyout"><a href="#">Mi Pedido</a></li>
  	<li class="has-flyout"><a href="#">Registrarme</a></li>
  </ul>
  <!--end nav content -->
  <div id="featured">
  	<%= image_tag("slider1.jpg", :alt => "logotramontina") %>
  	<%= image_tag("slider2.jpg", :alt => "logotramontina") %>
  	<%= image_tag("slider3.jpg", :alt => "logotramontina") %>
  </div>

</div>
